<nav id="nav" class="nav toc" role="nav">
    <ol>
        <li class="is-on"><a href="index.html">Introduction</a>
            <ul class="toc__sub-sections">
                <li><a href="#how-to-contribute">How to contribute</a></li>
            </ul>
        </li>
        <li><a href="design-principles.html">Design principles</a>
            <ul class="toc__sub-sections">
                <li><a href="#this-is-for-everyone">This is for everyone</a></li>
                <li><a href="#content-first">Content first</a></li>
                <li><a href="#open-to-collaboration">Open to collaboration</a></li>
                <li><a href="#trustworthy-yet-joyful">Trustworthy yet joyful</a></li>
                <li><a href="#design-for-consistency">Design for consistency</a></li>
            </ul>
        </li>
        <li><a href="visual-style.html">Visual style</a>
            <ul class="toc__sub-sections">
                <li><a href="#core-visual-identity">Core visual identity</a></li>
                <li><a href="#colors">Colors</a></li>
                <li><a href="#typography">Typography</a></li>
            </ul>
        </li>
    </ol>
</nav>
